In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [2]:
file_path = 'Data1.xlsx'

# Crea un diccionario vacío para almacenar los DataFrames
dataframes = {}

# Lee cada hoja del archivo de Excel y la convierte en un DataFrame
for sheet_name in pd.ExcelFile(file_path).sheet_names[:10]:
    df = pd.read_excel(file_path, sheet_name=sheet_name)
    dataframes[sheet_name] = df

In [3]:

print(dataframes[pd.ExcelFile(file_path).sheet_names[9]])

          Fecha   x1   x2              Class  Ancho     H/Pix       H.N  \
0    2024-01-01   30   36     period resting      6  0.039344  0.236066
1    2024-01-01   36   45  period rumination      9  0.039344  0.354098
2    2024-01-01   45   84      period eating     39  0.039344  1.534426
3    2024-01-01   84   85       period other      1  0.039344  0.039344
4    2024-01-01   85   99  period rumination     14  0.039344  0.550820
...         ...  ...  ...                ...    ...       ...       ...
9216 2024-06-30  627  629  period rumination      2  0.039344  0.078689
9217 2024-06-30  629  630     period resting      1  0.039344  0.039344
9218 2024-06-30  630  633  period rumination      3  0.039344  0.118033
9219 2024-06-30  633  634      period eating      1  0.039344  0.039344
9220 2024-06-30  634  640  period rumination      6  0.039344  0.236066

                    H                         S.H
0     00:14:09.836000             00:14:09.836000
1     00:21:14.754000             00:35:24.590000
2     01:32:03.934000             02:07:28.525000
3     00:02:21.639000             02:09:50.164000
4     00:33:02.951000             02:42:53.115000
...               ...                         ...
9216  00:04:43.279000  1900-06-02 23:34:01.967000
9217  00:02:21.639000  1900-06-02 23:36:23.607000
9218  00:07:04.918000  1900-06-02 23:43:28.525000
9219  00:02:21.639000  1900-06-02 23:45:50.164000
9220  00:14:09.836000         1900-06-03 00:00:00

[9221 rows x 9 columns]

In [4]:
# Itera sobre la lista de DataFrames
for sheet_name in dataframes:
    # Accede al DataFrame correspondiente
    df = dataframes[sheet_name]
    # Borra las filas con ancho 0
    df.drop(df.query('Ancho == 0').index, inplace=True)
    # Actualizamos el índice después de eliminar las filas
    df.reset_index(drop=True, inplace=True)
    #elimina columnas
    df.drop(columns=['x1', 'x2', 'H.N', 'H/Pix','H','S.H'], inplace=True)
    # Convierte la columna 'H' en un formato timedelta
    #df['H'] = pd.to_timedelta(df['H'].astype(str))

In [5]:
muestra=dataframes['4173-Karol']
muestra

          Fecha              Class  Ancho
0    2024-01-01     period resting      6
1    2024-01-01  period rumination      9
2    2024-01-01      period eating     39
3    2024-01-01       period other      1
4    2024-01-01  period rumination     14
...         ...                ...    ...
8877 2024-06-30  period rumination      2
8878 2024-06-30     period resting      1
8879 2024-06-30  period rumination      3
8880 2024-06-30      period eating      1
8881 2024-06-30  period rumination      6

[8882 rows x 3 columns]

In [6]:
# Itera sobre la lista de DataFrames
for sheet_name in dataframes:
    # Accede al DataFrame correspondiente
    df = dataframes[sheet_name]
    df['H/Pix']=24/610
    df['H.N']= df['Ancho']*df['H/Pix']

In [ ]:
# Función para convertir horas en formato timedelta
def horas_a_timedelta(horas):
    horas_enteras = int(horas)
    minutos_totales = (horas - horas_enteras) * 60
    minutos_enteros = int(minutos_totales)
    segundos = round((minutos_totales - minutos_enteros) * 60)
    return timedelta(hours=horas_enteras, minutes=minutos_enteros, seconds=segundos)

# Itera sobre la lista de DataFrames
for sheet_name in dataframes:
    # Accede al DataFrame correspondiente
    df = dataframes[sheet_name]
    # Convertir cada fila de horas a timedelta
    #df['H'] = df['H.N'].apply(horas_a_timedelta)
    df['H'] = pd.to_timedelta(df['H.N'], unit='hours')

In [11]:
muestra=dataframes['4173-Karol']
muestra

,Fecha,Class,Ancho,H/Pix,H.N,H
0,2024-01-01,period resting,6,0.039344,0.236066,0 days 00:14:09.836065572
1,2024-01-01,period rumination,9,0.039344,0.354098,0 days 00:21:14.754098361
2,2024-01-01,period eating,39,0.039344,1.534426,0 days 01:32:03.934426228
3,2024-01-01,period other,1,0.039344,0.039344,0 days 00:02:21.639344262
4,2024-01-01,period rumination,14,0.039344,0.550820,0 days 00:33:02.950819671
...,...,...,...,...,...,...
8877,2024-06-30,period rumination,2,0.039344,0.078689,0 days 00:04:43.278688524
8878,2024-06-30,period resting,1,0.039344,0.039344,0 days 00:02:21.639344262
8879,2024-06-30,period rumination,3,0.039344,0.118033,0 days 00:07:04.918032786
8880,2024-06-30,period eating,1,0.039344,0.039344,0 days 00:02:21.639344262
8881,2024-06-30,period rumination,6,0.039344,0.236066,0 days 00:14:09.836065572

In [12]:
# Itera sobre la lista de DataFrames
for sheet_name in dataframes:
    # Accede al DataFrame correspondiente
    df = dataframes[sheet_name]
    # Agregar las columnas "desde" y "hasta"
    df["Desde"] = ''
    df["Hasta"] = ''

    # Calcular las columnas "desde" y "hasta"
    for i in range(len(df)):
        if i == 0:
            df.at[i, "Desde"] = pd.to_timedelta('00:00:00')
        else:
            start = df.at[i-1, "Hasta"]
            df.at[i, "Desde"] = start

        end = df.at[i, "H"] + df.at[i, "Desde"]
        df.at[i, "Hasta"] = end

In [15]:
muestra=dataframes['4173-Karol']
muestra

,Fecha,Class,H,Desde,Hasta
0,2024-01-01,period resting,0 days 00:14:09.836065572,0 days 00:00:00,0 days 00:14:09.836065572
1,2024-01-01,period rumination,0 days 00:21:14.754098361,0 days 00:14:09.836065572,0 days 00:35:24.590163933
2,2024-01-01,period eating,0 days 01:32:03.934426228,0 days 00:35:24.590163933,0 days 02:07:28.524590161
3,2024-01-01,period other,0 days 00:02:21.639344262,0 days 02:07:28.524590161,0 days 02:09:50.163934423
4,2024-01-01,period rumination,0 days 00:33:02.950819671,0 days 02:09:50.163934423,0 days 02:42:53.114754094
...,...,...,...,...,...
8877,2024-06-30,period rumination,0 days 00:04:43.278688524,154 days 23:29:18.688519655,154 days 23:34:01.967208179
8878,2024-06-30,period resting,0 days 00:02:21.639344262,154 days 23:34:01.967208179,154 days 23:36:23.606552441
8879,2024-06-30,period rumination,0 days 00:07:04.918032786,154 days 23:36:23.606552441,154 days 23:43:28.524585227
8880,2024-06-30,period eating,0 days 00:02:21.639344262,154 days 23:43:28.524585227,154 days 23:45:50.163929489
8881,2024-06-30,period rumination,0 days 00:14:09.836065572,154 days 23:45:50.163929489,154 days 23:59:59.999995061

In [14]:
# Itera sobre la lista de DataFrames
for sheet_name in dataframes:
    # Accede al DataFrame correspondiente
    df = dataframes[sheet_name]
    #elimina columnas
    df.drop(columns=['Ancho','H/Pix', 'H.N'], inplace=True)

In [16]:
from datetime import datetime, timedelta

# Itera sobre la lista de DataFrames
for sheet_name in dataframes:
    # Accede al DataFrame correspondiente
    df = dataframes[sheet_name]
    
    hourly_periods = []
    # Iterar sobre cada fila del dataframe original
    for index, row in df.iterrows():
        fecha = row["Fecha"]
        periodo = row["Class"]
        duracion_timedelta = row["H"]
        desde_timedelta = row["Desde"]
        hasta_timedelta = row["Hasta"]

        start_hour = int(desde_timedelta.total_seconds() // 3600)
        end_hour = int(hasta_timedelta.total_seconds() // 3600)

        # Calcular el total de segundos de duración
        total_seconds = duracion_timedelta.total_seconds()

        for hour in range(start_hour, end_hour + 1):
            # Calcular el tiempo en segundos dentro de la hora actual
            current_hour_start = timedelta(hours=hour )
            current_hour_end = timedelta(hours=(hour + 1) )

            # Calcular la intersección de tiempo dentro de la hora actual
            period_start = max(desde_timedelta, current_hour_start)
            period_end = min(hasta_timedelta, current_hour_end)
            period_seconds = (period_end - period_start).total_seconds()

            # Añadir al DataFrame el periodo correspondiente a la hora actual
            hourly_periods.append({
                "Fecha": fecha,
                "Hora": hour % 24,
                "Periodo": periodo,
                "Tiempo": timedelta(seconds=period_seconds),
                "Desde": period_start,
                "Hasta": period_end ,
            })
            
    # Crear un DataFrame a partir de la lista de diccionarios
    hourly_periods_df = pd.DataFrame( hourly_periods)
    hourly_periods_df.drop(columns=['Desde','Hasta'], inplace=True)
    # Ahora agrupa y suma por fecha, hora y period
    df_grouped = hourly_periods_df.groupby(['Fecha', 'Hora', 'Periodo'])['Tiempo'].sum().reset_index()

    # Pivotar y renombrar columnas si es necesario
    df_pivot = df_grouped.pivot_table(index=['Fecha', 'Hora'], columns='Periodo', values='Tiempo', fill_value=pd.Timedelta(0)).reset_index()
    df_pivot.columns.name = None  # Para quitar el nombre del índice de columnas

    # Define the columns to convert
    time_columns = ['period eating', 'period other', 'period resting', 'period rumination']

    # Convert each timedelta column to decimal hours
    for column in time_columns:
        df_pivot[column] = (df_pivot[column].dt.total_seconds() / 3600).round(3)

    # Mostrar el DataFrame resultante
    dataframes[sheet_name] = df_pivot

In [26]:
df_pivot

,Fecha,Hora,period eating,period other,period resting,period rumination,suma
0,2024-01-01,0,0.410,0.000,0.236,0.354,1.0
1,2024-01-01,1,1.000,0.000,0.000,0.000,1.0
2,2024-01-01,2,0.125,0.039,0.285,0.551,1.0
3,2024-01-01,3,0.000,0.000,0.607,0.393,1.0
4,2024-01-01,4,0.000,0.000,0.449,0.551,1.0
...,...,...,...,...,...,...,...
3715,2024-06-30,19,0.672,0.000,0.000,0.328,1.0
3716,2024-06-30,20,0.000,0.000,0.393,0.607,1.0
3717,2024-06-30,21,0.000,0.000,0.393,0.607,1.0
3718,2024-06-30,22,0.000,0.000,0.511,0.489,1.0
3719,2024-06-30,23,0.197,0.000,0.236,0.567,1.0

In [17]:
muestra=dataframes['4173-Karol']
muestra

,Fecha,Hora,period eating,period other,period resting,period rumination
0,2024-01-01,0,0.410,0.000,0.236,0.354
1,2024-01-01,1,1.000,0.000,0.000,0.000
2,2024-01-01,2,0.125,0.039,0.285,0.551
3,2024-01-01,3,0.000,0.000,0.607,0.393
4,2024-01-01,4,0.000,0.000,0.449,0.551
...,...,...,...,...,...,...
3715,2024-06-30,19,0.672,0.000,0.000,0.328
3716,2024-06-30,20,0.000,0.000,0.393,0.607
3717,2024-06-30,21,0.000,0.000,0.393,0.607
3718,2024-06-30,22,0.000,0.000,0.511,0.489
3719,2024-06-30,23,0.197,0.000,0.236,0.567

In [24]:
import re
# Itera sobre la lista de DataFrames
for sheet_name in dataframes:
    # Accede al DataFrame correspondiente
    df = dataframes[sheet_name] 
    namecsv =  re.findall(r'\d+', sheet_name)[0]

    df.to_csv(f'Data1_procesados/{namecsv}.csv', index=False)